@{
    ViewBag.Title = "About";
}
<body>
    
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 >CLINIC MANAGEMENT SYSTEM</h1>
        <p class="lead">
            We are a team of dedicated healthcare and technology professionals committed to delivering efficient and effective healthcare services.
            Our Clinic Management System is designed to streamline the process of information flow in a clinic ,Here is our special departments.
        </p>
        <p><a href="https://www.britannica.com/science/clinic" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row"> 
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
          <h2 class="dep">Inpatient</h2>
          
            <p class="desc">
                The Inpatient Department in a hospital is where patients are admitted for treatment and care over a period of time,
                usually when they require 24-hour medical attention or complex procedures.
                In this department, patients are assigned beds and are closely monitored by a team of
                healthcare professionals including doctors, nurses, and other medical staff.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.britannica.com/science/clinic">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 class="dep">Outpatient Department</h2>
            <p class="desc">
                In the OPD, patients do not stay overnight and return home after their procedure
                or consultation is completed. This could include services like routine check-ups,
                diagnostic tests, minor surgical procedures, or post-operative follow-ups.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.britannica.com/science/clinic">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 class="dep">Orthopedic</h2>
            <p class="desc">
                Orthopedics, also spelled as orthopaedics, is a branch of medicine that
                focuses on the care of the musculoskeletal system. This system includes bones,
                joints, ligaments, tendons, muscles, and nerves - all the elements that make you move and be active..
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.britannica.com/science/clinic">Learn more &raquo;</a></p>
        </section>
    </div>
    <style>
        .lead {
            font-weight: bold;
        }

        p {
            font-weight: bold;
        }
        body {
           /* background-image: url('/Content/pexels-artem-podrez-5878515.jpg');*/
            background-image: url('/Content/pexels2.jpg');
            background-size: cover;
        }
        section{
            color:black;
        }
        h1{
            color:darkgreen;
            font-weight:bold;
        }
        .dep{
            color:darkgreen;
            font-weight:bold;
        }
        .desc{
            background-color:lightblue;
        }
    </style>
</body>